* {
  padding: 0px;
  margin: 0px;
}
ul,
ol {
  list-style-type: none;
}
.wrapper {
  width: 1100px;
  margin: 0px auto;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
* {
  text-decoration: none;
}
header {
  width: 100%;
  height: 70px;
  border: 1px solid #ccc;
}
header nav {
  height: 70px;
}
header nav img {
  float: left;
  width: 150px;
  padding: 5px 0px;
}
header nav ul {
  float: left;
  margin-left: 80px;
  width: 500px;
  height: 70px;
}
header nav ul li {
  float: left;
  line-height: 70px;
  font-size: 18px;
  margin-left: 40px;
  padding-top: 5px;
  color: #706C82;
}
header nav ul li:first-of-type {
  color: red;
}
header nav .search {
  float: right;
  width: 100px;
  height: 70px;
}
header nav .search span {
  font-size: 20px;
  line-height: 70px;
  font-weight: bold;
}
header nav .search .text {
  padding: 3px 8px;
  border: 2px solid #F46565;
  float: right;
  border-radius: 3px;
  margin: 20px 0px;
}
header nav .search .text a {
  color: #F46565;
}
article .banner a {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  background: url(../images/original.jpg) no-repeat center center;
}
article .banner a .time {
  position: absolute;
  top: 26px;
  right: 169px;
  width: 400px;
  height: 250px;
  z-index: 10;
}
article .banner a .time p {
  text-align: center;
  color: #FEFDED;
  font-size: 35px;
}
article .banner a .time .details {
  padding-left: 80px;
  margin: 20px 0px;
}
article .banner a .time .details li {
  float: left;
  font-size: 17px;
  color: #FFFBFF;
  padding: 8px 10px;
  background-color: rgba(247, 244, 244, 0.3);
  margin-right: 15px;
  border-radius: 3px;
}
article .banner a .time .times {
  margin: 30px 0px;
  width: 400px;
  text-align: center;
  color: #FFFBFF;
  font-size: 18px;
}
article .banner a .time .text {
  width: 220px;
  height: 45px;
  font-size: 25px;
  background-color: #FE5341;
  line-height: 45px;
  margin-left: 100px;
  border-radius: 5px;
}
main section h2 {
  height: 70px;
  line-height: 70px;
}
main section .box {
  width: 1100px;
  height: 310px;
  position: relative;
}
main section .box ul {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3300px;
}
main section .box ul li {
  float: left;
  text-align: center;
  width: 250px;
  height: 310px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 30px;
}
main section .box ul li:nth-of-type(4),
main section .box ul li:nth-of-type(8),
main section .box ul li:nth-of-type(12) {
  margin-right: 0;
}
main section .box ul li img {
  width: 252px;
}
main section .box ul li h5 {
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 3px;
}
main section .box ul li .num {
  color: red;
  padding: 3px 8px;
  border: 1px solid red;
  border-radius: 5px;
  margin-right: 10px;
}
main section .box ul li p {
  margin-top: 10px;
  font-size: 18px;
}
main section .box ul li p .num2 {
  color: red;
  margin-right: 2px;
}
main section .box ul li span {
  color: red;
}
main section .box .left-btn {
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  border: 0px;
  font-size: 50px;
  color: #E5E5E5;
}
main section .box .right-btn {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  border: 0px;
  font-size: 50px;
  color: #E5E5E5;
}
